cvs_search_app/templates/mystockshtml/*.html
cvs_search_app/templates/stockhtml/*.html
cvs_search_app/stockhtml/*.html
cvs_search_app/stockscsv/*.csv
cvs_search_app/minitools/__pycache__/*.pyc
.gitignore
.gitignore
cvs_search_app/scripts/__pycache__/*.pyc
scripts/__pycache__/*.pyc
