<!DOCTYPE html>
<html>
<head>
    <title>帮助</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div>
            <h1>帮助文档</h1>
        </div>
        <a href="/">返回首页</a>
        <div class="container mt-5">
            <h2>龙虎榜数据说明</h2>
            <div>
              <p>股票龙虎榜指的是：每日两市中涨跌幅、换手率等由大到小的排名榜单，并从中可以看到龙虎榜单中的股票在哪个证券营业部的成交量较大。

通过龙虎榜数据可以有助于了解当日异动个股的资金进出情况，以此判断是游资所为还是机构所为。

龙虎榜上榜条件：

1、股票日价格涨幅偏离值±7%；2、股票日换手率达到20% ；3、日价格振幅达到15%；4、连续三个交易日内，涨幅偏离值累计达到20%。

每个条件都选前3名的上榜，要注意的是即使个股在当天涨停，没有满足上述四个条件任何一个的，或者满足上述四个条件的任何一个，但是并不是所处的板块前3名，也是不会 上龙虎榜的。</p>  

              <p>
                关于“龙虎榜”的百科知识
1、龙虎榜数据几点公布？
一般情况下，龙虎榜的最新数据会在交易日下午的16:30-17:10之间（也就是交易收盘后的一小时内），由交易所公布。投资者可以通过这些数据，了解股票的资金进出情况，判断股票的变化由谁所为。

2、分析龙虎榜数据有什么意义？
龙虎榜单，出现一般都是机构与游资。机构出现，一般代表是该股主力出现异动，一般都是资金比较大的,对交易速度要求比较高的基金，或者大股东。 龙虎榜是公开的主力运作，虽然是盘后的，但还是很有实际意义的，不是所有的主力主力资金流入后，第二天就流出的，有的后期还是很牛的， 有了进出记录，或成交记录后，这样股民可以分析，这些大户是否在出脱、 加码买进的数据？股民依照数据做出正向或逆向操作，从而达到获利或者止损的目的。

3、龙虎榜短线选股方法？
买龙虎榜的股票，投资者可以参照以下方法和技巧：
1、看龙虎榜席位：一般机构买入会显示机构专用，而游资则是某某营业部，机构的实力肯定比游资大，并且要看买入的户数，机构或游资的户数越多越好。
2、看买卖双方力量比对，买方总金额越大越好，一般买一的资金大于卖一的1.5倍更好。
3、龙虎榜中是否有新进的机构，如果有新进的机构，则可以跟随买入。
4、机构买入金额占到当日成交金额的百分比，越多越好。
5、关注低位上涨且上龙虎榜的股票，这些股票一般后市还有机会。
龙虎榜在收盘后产生，如果某只股票的涨跌幅、换手率振幅、偏离值等指标都比较靠前，那么就有机会进入龙虎榜。上榜的股票通常说明今日有主力资金进入， 但是要小心主力拉高出货，所以更适合风险承受能力大的用户。

4、龙虎榜怎么看怎么解读？
投资者可以根据以下方面来看龙虎榜：
1、买卖双方力量
买卖双方力量对比中，买方金额大于卖方金额较好，在一定程度上说明主力资金看多， 该股后期可能会出现上涨的情况；在买卖双方力量对比中，卖方金额远远大于买方金额，说明抛压比较严重， 一些主力在进行出货操作，则个股后期可能会出现下跌的情况。
2、买卖席位
在买入前五中，机构席位较多，游资席位较少，且机构席位买入金额占总成交额比例越大越好，而前五买入席位中，游资席位较多，机构席位较少，且游资买入金额占总成交额比例较大，则行情一日游的概率较大。比如，龙虎榜上的买入席位上显示，个股存在大量的藏獒，则个股后期崩盘的概率较大，投资者应谨慎考虑。
                </p>
            </div>
         <div>
            <h1>游资名单说明</h1>
            <div>
              <p>游资，指的是那些资金量较小但灵活机动、善于捕捉市场机会的投资者或投资机构。他们通常通过短线操作、频繁交易来获取利润。游资在股市中扮演着重要角色，因为他们的操作往往能够引起市场的波动和变化。</p>
              <p>爱金股股票数据查询为你提供最新游资名单、龙虎榜游资名单查询、游资持股明细查询，更多关于游资的数据记录请持续关注爱金股！

游资，顾名思义就是会游动的资本，他们不是固定的盘踞在某个股票里面，而是像打游击一样，到处寻找下手的机会，一旦找到机会，就会狠狠的干，通常拉1-3个涨停板就出货 走人了。
游资规模通常在几个亿到几十亿之间，太小资金拉不动，太大资金没办法快进快出。长期主力资金的风格是在底部慢慢建仓，买够大量的货以后才会拉升，所以他们的成 本低，建仓周期很长，成交量也是缓慢放大的。
游资一般只会选择中小盘股，他们建仓周期很短，通常就是一两天集中猛打，很快就把股价拉上去，然后很快也就出货了。

所以游资实际上就是在长期主力口中抢肉吃，如果放在动物世界的食物链里面，游资相当于专门从狮子老虎嘴里抢肉吃的秃鹫之类。</p>
            </div>   
        </div>



        <div>
    </div>
</body>
</html>